# --- Python ---
venv/
__pycache__/
*.pyc

# --- Data and Model Files ---
*.csv
*.h5
*.json
model/

# --- Logs & Temp Files ---
*.log
*.tmp

# --- OS & Editor Files ---
.DS_Store
Thumbs.db
.idea/
.vscode/
